<a href="https://colab.research.google.com/github/zakiahintan/Kelas_Dasar/blob/main/M2P2V3_Konversi_Struktur_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data:                                                
a. `list()` : untuk mengubah menjadi list                                                 
b. `tuple()` : untuk mengubah menjadi tuple                                              
c. `set()` : untuk mengubah menjadi set                                            
d. `dict()` : untuk mengubah menjadi dictionary

### Mengonversi tipe data list:

In [1]:
# Membuat 2 list
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [7]:
# Mengonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L1)
k_dict = dict(zip(L1,L2))
# Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{1, 2, 3, 4}
{1: 5, 2: 6, 3: 7, 4: 8}

### Mengonversi tipe data tuple:

In [8]:
# Membuat dua tuple
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [9]:
# Mengonversi struktur data tuple
k_list = list(T1)
k_set = set(T2)
k_dict = dict(zip(T1,T2))
# Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

### Mengonversi tipe data set:

In [10]:
# Membuat dua data set
S1 = {1, 2, 3, 4}
S2 = {5, 6, 7, 8}

In [11]:
# Mengonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S2)
k_dict = dict(zip(S1, S2))
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

### Mengonversi tipe data list:

In [13]:
# Membuat dictionary
D = {
    "nama": "Andi",
    "alamat": "Yogyakarta",
    "umur": 20
}

In [14]:
# Mengonversi struktur data dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())
# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'umur', 'nama', 'alamat'}

### Latihan

In [16]:
# Lakukan konversi struktur data yang kalian buat pada notebook-notebook
# sebelumnya menjadi list, tuple, set,  dan dictionary (masing-masing satu)

# Konversi struktur data tuple menjadi list
Q = (2.8, False, "hi")
Q_list = list(Q)
print(Q_list)

#Konversi struktur data set menjadi tuple
P1 = {"hari", "ini", 10, "Oktober", True}
P1_tuple = tuple(P1)
print(P1_tuple)

#Konversi struktur dictionary menjadi set
Dictionary = {"aku":"saya", 1+1:2}
Dictionary_set = set(Dictionary.keys())
print(Dictionary_set)

#Konversi stuktur data tuple menjadi dictionary
Q = (2.8, False, "hi")
R = (2.9, True, "Hola")
QR_dict = dict(zip(Q, R))
print(QR_dict)

[2.8, False, 'hi']
(True, 10, 'hari', 'Oktober', 'ini')
{'aku', 2}
{2.8: 2.9, False: True, 'hi': 'Hola'}