<a href="https://colab.research.google.com/github/zakiahintan/Kelas_Dasar/blob/main/M4P1V3_Slicing_Transformation_Group_By.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Transformations

Data transformations adalah perubahan data yang dilakukan untuk kepentingan tertentu seperti menambahkan kolom, merubah tipe data, menghapus sebagaian data, dan lain-lain. Data yang akan digunakan sebagai bahan penjelasan adalah `Super-Store-Dataset.csv`. Pertama kita import dataset tersebut:

In [ ]:
# Import Modul
import pandas as pd

In [ ]:
from google.colab import files
data = files.upload()

Saving Super-Store-Dataset.csv - Super-Store-Dataset.csv.csv to Super-Store-Dataset.csv - Super-Store-Dataset.csv.csv

In [ ]:
df = pd.read_csv('Super-Store-Dataset.csv - Super-Store-Dataset.csv.csv')
df.head(3)

         order_id order_date customer_id  ...   sales quantity   profit
0  CA-2016-152156  11/8/2016    CG-12520  ...  261.96        2  419.136
1  CA-2016-152156  11/8/2016    CG-12520  ...  731.94        3  219.582
2  CA-2016-138688  6/12/2016    DV-13045  ...   14.62        2   6.8714

[3 rows x 9 columns]

## Menghapus Data

In [ ]:
df_2=df.copy()
df_2.head()

         order_id  order_date customer_id  ...      sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...     261.96        2   419.136
1  CA-2016-152156   11/8/2016    CG-12520  ...     731.94        3   219.582
2  CA-2016-138688   6/12/2016    DV-13045  ...      14.62        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  9.575.775        5  -383.031
4  US-2015-108966  10/11/2015    SO-20335  ...     22.368        2    2.5164

[5 rows x 9 columns]

Untuk melakukan penghapusan data, Pandas memiliki salah atu attribute yang terkait yaitu .drop(). Syntax dari attribute ini adalah sebagai berikut:

```python
data.drop(labels=["label_1","label_2","label_3"], # List untuk indeks(baris) yang akan dihapus atau nama kolom 
          axis=1, # 0 untuk menghapus baris dan 1 untuk menghapus kolom
          inplace=False) #Jika inplace True maka data akan diperbaharui dengan drop
```

**Menghapus Data Kolom**

In [ ]:
df_2_baru=df_2.drop(labels=['order_date',	'customer_id'],
                    axis=1,
                    inplace=False)
print(df_2.columns)
print(df_2_baru.columns)

Index(['order_id', 'order_date', 'customer_id', 'segment', 'category',
       'sub_category', 'sales', 'quantity', 'profit'],
      dtype='object')
Index(['order_id', 'segment', 'category', 'sub_category', 'sales', 'quantity',
       'profit'],
      dtype='object')

**Menghapus Data Baris**

In [ ]:
df_2_baru=df_2.drop(labels=[10,20,30,40,50,60],
                    axis=0,
                    inplace=False)
print(df_2.shape)
print(df_2_baru.shape)

(9988, 9)
(9982, 9)

## Menambahkan Data Kolom

Untuk menambahkan kolom baru pada suatu dataframe dapat dilakukan menggunakan sytaxs berikut:

```pyhton
data['Nama_Kolom_Baru']=sequece_pengisi_kolom
```

In [ ]:
df_2['total_sales'] = df_2['sales']*df_2['quantity']
df_2.head()

         order_id  ...                                    total_sales
0  CA-2016-152156  ...                                   261.96261.96
1  CA-2016-152156  ...                             731.94731.94731.94
2  CA-2016-138688  ...                                     14.6214.62
3  US-2015-108966  ...  9.575.7759.575.7759.575.7759.575.7759.575.775
4  US-2015-108966  ...                                   22.36822.368

[5 rows x 10 columns]

## Mengurutkan Data

Pengurutan dataframe dapat menggunakan attribute `.sort_values()` dengan syntax berikut:

```python
df.sort_values(by='col1',          # Mengurutkan berdasar kolom tertentu
               ascending=False)    # Menaik(ascending=True) atau menurun(ascending=False)
```

In [ ]:
df_2_urut=df_2.sort_values(by='segment',
                           ascending=True)
df_2_urut

            order_id  ...                                 total_sales
0     CA-2016-152156  ...                                261.96261.96
5505  CA-2015-168529  ...                   145.9145.9145.9145.9145.9
5504  CA-2016-150000  ...                        17.9217.9217.9217.92
5503  US-2016-162026  ...                                  61.9661.96
5498  CA-2017-164378  ...                                    8.968.96
...              ...  ...                                         ...
6051  CA-2016-124016  ...  12.20112.20112.20112.20112.20112.20112.201
6050  CA-2016-124016  ...                                    28282828
6049  CA-2016-124016  ...                          11.95211.95211.952
699   CA-2015-119291  ...                                18.58818.588
6714  CA-2016-134789  ...                        25.9225.9225.9225.92

[9988 rows x 10 columns]

In [ ]:
df_2_urut=df_2.sort_values(by=['segment','category'],
                           ascending=True)
df_2_urut

            order_id  ...                                        total_sales
0     CA-2016-152156  ...                                       261.96261.96
1     CA-2016-152156  ...                                 731.94731.94731.94
3     US-2015-108966  ...      9.575.7759.575.7759.575.7759.575.7759.575.775
5     CA-2014-115812  ...                48.8648.8648.8648.8648.8648.8648.86
10    CA-2014-115812  ...  1.706.1841.706.1841.706.1841.706.1841.706.1841...
...              ...  ...                                                ...
9858  CA-2017-113278  ...                               159.8159.8159.8159.8
9872  US-2017-166324  ...                              122.382122.382122.382
9954  CA-2017-141446  ...                                                 18
9967  US-2016-103674  ...                     271.96271.96271.96271.96271.96
9970  US-2016-103674  ...                                     249.584249.584

[9988 rows x 10 columns]

## Mengubah Nama Kolom

Kita dapat merubah nama kolom pada dataframe dengan cara seperti pada contoh berikut:

In [ ]:
df.head()

         order_id  order_date customer_id  ...      sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...     261.96        2   419.136
1  CA-2016-152156   11/8/2016    CG-12520  ...     731.94        3   219.582
2  CA-2016-138688   6/12/2016    DV-13045  ...      14.62        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  9.575.775        5  -383.031
4  US-2015-108966  10/11/2015    SO-20335  ...     22.368        2    2.5164

[5 rows x 9 columns]

In [ ]:
# Mengganti nama kolom "profit" menjadi "keuntungan"
df2 = df.rename(columns={"profit":"keuntungan"})
df2.head()

         order_id  order_date customer_id  ...      sales quantity keuntungan
0  CA-2016-152156   11/8/2016    CG-12520  ...     261.96        2    419.136
1  CA-2016-152156   11/8/2016    CG-12520  ...     731.94        3    219.582
2  CA-2016-138688   6/12/2016    DV-13045  ...      14.62        2     6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  9.575.775        5   -383.031
4  US-2015-108966  10/11/2015    SO-20335  ...     22.368        2     2.5164

[5 rows x 9 columns]

# Indexing DataFrame

Index merupakan key identifier dari tiap row/column untuk Series atau Dataframe (sifatnya tidak mutable untuk masing-masing value tapi bisa diganti untuk semua value sekaligus).

Jika tidak disediakan, pandas akan membuat kolom index default secara otomatis sebagai bilangan bulat (integer) dari 0 sampai range jumlah baris data tersebut.

Kolom index dapat terdiri dari

1. satu kolom (single index), atau
2. multiple kolom (disebut dengan hierarchical indexing).

Index dengan multiple kolom ini terjadi karena unique identifier tidak dapat dicapai hanya dengan set index di 1 kolom saja sehingga membutuhkan beberapa kolom yang menjadikan tiap row menjadi unique.

## Single Index

In [ ]:
df_super_store = df

In [ ]:
df_super_store.head()

         order_id  order_date customer_id  ...      sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...     261.96        2   419.136
1  CA-2016-152156   11/8/2016    CG-12520  ...     731.94        3   219.582
2  CA-2016-138688   6/12/2016    DV-13045  ...      14.62        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  9.575.775        5  -383.031
4  US-2015-108966  10/11/2015    SO-20335  ...     22.368        2    2.5164

[5 rows x 9 columns]

In [ ]:
print("Index:", df_super_store.index)

print("Columns:", df_super_store.columns)

Index: RangeIndex(start=0, stop=9988, step=1)
Columns: Index(['order_id', 'order_date', 'customer_id', 'segment', 'category',
       'sub_category', 'sales', 'quantity', 'profit'],
      dtype='object')

## Multiple Index

Kita akan coba tunjukkan bagaimana caranya membuat sebuah dataframe dengan multi index

In [ ]:
df_super_store.head()

         order_id  order_date customer_id  ...      sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...     261.96        2   419.136
1  CA-2016-152156   11/8/2016    CG-12520  ...     731.94        3   219.582
2  CA-2016-138688   6/12/2016    DV-13045  ...      14.62        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  9.575.775        5  -383.031
4  US-2015-108966  10/11/2015    SO-20335  ...     22.368        2    2.5164

[5 rows x 9 columns]

In [ ]:
# Set multi index df
df_ss = df_super_store.set_index(['order_id', 'order_date', 'customer_id'])
# Print nama dan level dari multi index
for name, level in zip(df_ss.index.names, df_ss.index.levels):
    print(name,':',level)

order_id : Index(['CA-2014-100006', 'CA-2014-100090', 'CA-2014-100293', 'CA-2014-100328',
       'CA-2014-100363', 'CA-2014-100391', 'CA-2014-100678', 'CA-2014-100706',
       'CA-2014-100762', 'CA-2014-100860',
       ...
       'US-2017-167570', 'US-2017-167920', 'US-2017-168116', 'US-2017-168613',
       'US-2017-168690', 'US-2017-168802', 'US-2017-169320', 'US-2017-169488',
       'US-2017-169502', 'US-2017-169551'],
      dtype='object', name='order_id', length=5008)
order_date : Index(['1/1/2017', '1/10/2014', '1/10/2015', '1/10/2016', '1/11/2014',
       '1/11/2016', '1/12/2015', '1/12/2017', '1/13/2014', '1/13/2015',
       ...
       '9/7/2014', '9/7/2015', '9/7/2017', '9/8/2014', '9/8/2015', '9/8/2016',
       '9/8/2017', '9/9/2014', '9/9/2016', '9/9/2017'],
      dtype='object', name='order_date', length=1237)
customer_id : Index(['AA-10315', 'AA-10375', 'AA-10480', 'AA-10645', 'AB-10015', 'AB-10060',
       'AB-10105', 'AB-10150', 'AB-10165', 'AB-10255',
       ...
       'VP-21760', 'VS-21820', 'VT-21700', 'VW-21775', 'WB-21850', 'XP-21865',
       'YC-21895', 'YS-21880', 'ZC-21910', 'ZD-21925'],
      dtype='object', name='customer_id', length=793)

# Latihan 1

Buatlah multiple index pada df_super_store menggunakan kolom `order_id` dan `customer_id`

In [ ]:
df_ss = df_super_store.set_index(['order_id', 'customer_id'])
for name, level in zip(df_ss.index.names, df_ss.index.levels):
  print(name,':', level)

order_id : Index(['CA-2014-100006', 'CA-2014-100090', 'CA-2014-100293', 'CA-2014-100328',
       'CA-2014-100363', 'CA-2014-100391', 'CA-2014-100678', 'CA-2014-100706',
       'CA-2014-100762', 'CA-2014-100860',
       ...
       'US-2017-167570', 'US-2017-167920', 'US-2017-168116', 'US-2017-168613',
       'US-2017-168690', 'US-2017-168802', 'US-2017-169320', 'US-2017-169488',
       'US-2017-169502', 'US-2017-169551'],
      dtype='object', name='order_id', length=5008)
customer_id : Index(['AA-10315', 'AA-10375', 'AA-10480', 'AA-10645', 'AB-10015', 'AB-10060',
       'AB-10105', 'AB-10150', 'AB-10165', 'AB-10255',
       ...
       'VP-21760', 'VS-21820', 'VT-21700', 'VW-21775', 'WB-21850', 'XP-21865',
       'YC-21895', 'YS-21880', 'ZC-21910', 'ZD-21925'],
      dtype='object', name='customer_id', length=793)

# Slicing Data Frame

### Slicing Berdasarkan Kolom

In [ ]:
df_super_store.order_date

0        11/8/2016
1        11/8/2016
2        6/12/2016
3       10/11/2015
4       10/11/2015
           ...
9983     1/21/2014
9984     2/26/2017
9985     2/26/2017
9986     2/26/2017
9987      5/4/2017
Name: order_date, Length: 9988, dtype: object

In [ ]:
df_super_store['order_date']

0        11/8/2016
1        11/8/2016
2        6/12/2016
3       10/11/2015
4       10/11/2015
           ...
9983     1/21/2014
9984     2/26/2017
9985     2/26/2017
9986     2/26/2017
9987      5/4/2017
Name: order_date, Length: 9988, dtype: object

Kita juga dapat mengakses beberapa kolom dataframe menggunakan list nama-nama kolom yang kita inginkan sebagai berikut:

In [ ]:
df_ss1=df_super_store[['order_id','customer_id']]
df_ss1

            order_id customer_id
0     CA-2016-152156    CG-12520
1     CA-2016-152156    CG-12520
2     CA-2016-138688    DV-13045
3     US-2015-108966    SO-20335
4     US-2015-108966    SO-20335
...              ...         ...
9983  CA-2014-110422    TB-21400
9984  CA-2017-121258    DB-13060
9985  CA-2017-121258    DB-13060
9986  CA-2017-121258    DB-13060
9987  CA-2017-119914    CC-12220

[9988 rows x 2 columns]

## Slicing Berdasarkan Baris

In [ ]:
# Mengakses 5 baris data teratas
df_super_store[:5]

         order_id  order_date customer_id  ...      sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...     261.96        2   419.136
1  CA-2016-152156   11/8/2016    CG-12520  ...     731.94        3   219.582
2  CA-2016-138688   6/12/2016    DV-13045  ...      14.62        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  9.575.775        5  -383.031
4  US-2015-108966  10/11/2015    SO-20335  ...     22.368        2    2.5164

[5 rows x 9 columns]

In [ ]:
# Mengakses data dari baris 0 hingga baris sebelum 6
df_super_store[3:6]

         order_id  order_date customer_id  ...      sales quantity    profit
3  US-2015-108966  10/11/2015    SO-20335  ...  9.575.775        5  -383.031
4  US-2015-108966  10/11/2015    SO-20335  ...     22.368        2    2.5164
5  CA-2014-115812    6/9/2014    BH-11710  ...      48.86        7   141.694

[3 rows x 9 columns]

In [ ]:
# Mengakses 5 baris data terakhir
df_super_store[-5:]

            order_id order_date customer_id  ...    sales quantity   profit
9983  CA-2014-110422  1/21/2014    TB-21400  ...   25.248        3   4.1028
9984  CA-2017-121258  2/26/2017    DB-13060  ...    91.96        2  156.332
9985  CA-2017-121258  2/26/2017    DB-13060  ...  258.576        2  193.932
9986  CA-2017-121258  2/26/2017    DB-13060  ...     29.6        4    13.32
9987  CA-2017-119914   5/4/2017    CC-12220  ...   243.16        2   72.948

[5 rows x 9 columns]

## Slicing menggunakan attribute .iloc

Kita dapat melakukan slicing berdasarkan **baris & kolom** menggunakan attribut .iloc:

In [ ]:
# Mengakses 10 baris pertama kolom 2 dan 3
df_super_store.iloc[:10,1:3]

   order_date customer_id
0   11/8/2016    CG-12520
1   11/8/2016    CG-12520
2   6/12/2016    DV-13045
3  10/11/2015    SO-20335
4  10/11/2015    SO-20335
5    6/9/2014    BH-11710
6    6/9/2014    BH-11710
7    6/9/2014    BH-11710
8    6/9/2014    BH-11710
9    6/9/2014    BH-11710

In [ ]:
# Mengakses semua baris pada kolom 2 dan 3
df_super_store.iloc[:,1:3]

      order_date customer_id
0      11/8/2016    CG-12520
1      11/8/2016    CG-12520
2      6/12/2016    DV-13045
3     10/11/2015    SO-20335
4     10/11/2015    SO-20335
...          ...         ...
9983   1/21/2014    TB-21400
9984   2/26/2017    DB-13060
9985   2/26/2017    DB-13060
9986   2/26/2017    DB-13060
9987    5/4/2017    CC-12220

[9988 rows x 2 columns]

In [ ]:
# Mengakses 5 baris data pertama semua kolom
df_super_store.iloc[:5,:]

         order_id  order_date customer_id  ...      sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...     261.96        2   419.136
1  CA-2016-152156   11/8/2016    CG-12520  ...     731.94        3   219.582
2  CA-2016-138688   6/12/2016    DV-13045  ...      14.62        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  9.575.775        5  -383.031
4  US-2015-108966  10/11/2015    SO-20335  ...     22.368        2    2.5164

[5 rows x 9 columns]

### Slicing Dengan Kriteria

Melakukan filter berdasarkan kriteria tertentu adalah hal yang paling sering dilakukan oleh seorang data analis atau data saintis. Berikut adalah beberapa contoh filtering menggunakan pandas.

In [ ]:
# Mengambil data dari df__sperstore dengan sentimen positif
df_1=df_super_store[df_super_store['category']=="Furniture"]
df_1

            order_id  order_date customer_id  ...      sales quantity    profit
0     CA-2016-152156   11/8/2016    CG-12520  ...     261.96        2   419.136
1     CA-2016-152156   11/8/2016    CG-12520  ...     731.94        3   219.582
3     US-2015-108966  10/11/2015    SO-20335  ...  9.575.775        5  -383.031
5     CA-2014-115812    6/9/2014    BH-11710  ...      48.86        7   141.694
10    CA-2014-115812    6/9/2014    BH-11710  ...  1.706.184        9   853.092
...              ...         ...         ...  ...        ...      ...       ...
9956  CA-2015-168088   3/19/2015    CM-12655  ...  3.834.656        4  -676.704
9958  CA-2016-146374   12/5/2016    HE-14800  ...       13.4        1     6.432
9974  US-2015-151435    9/6/2015    SW-20455  ...      85.98        1   223.548
9983  CA-2014-110422   1/21/2014    TB-21400  ...     25.248        3    4.1028
9984  CA-2017-121258   2/26/2017    DB-13060  ...      91.96        2   156.332

[2121 rows x 9 columns]

In [ ]:
# mengambil data dengan lebih dari 1 kriteria
df_2=df_super_store[(df_super_store['category']=="Furniture") & (df_super_store['quantity']>=3)]
df_2

            order_id  order_date customer_id  ...      sales quantity     profit
1     CA-2016-152156   11/8/2016    CG-12520  ...     731.94        3    219.582
3     US-2015-108966  10/11/2015    SO-20335  ...  9.575.775        5   -383.031
5     CA-2014-115812    6/9/2014    BH-11710  ...      48.86        7    141.694
10    CA-2014-115812    6/9/2014    BH-11710  ...  1.706.184        9    853.092
24    CA-2015-106320   9/25/2015    EB-13870  ...    1044.63        3  2.402.649
...              ...         ...         ...  ...        ...      ...        ...
9925  CA-2015-104948  11/13/2015    KH-16510  ...    683.332        4    -40.196
9932  CA-2016-169824  12/12/2016    NS-18640  ...      60.35        5    199.155
9941  CA-2017-121559    6/1/2017    HW-14935  ...    1925.88        6  5.392.464
9956  CA-2015-168088   3/19/2015    CM-12655  ...  3.834.656        4   -676.704
9983  CA-2014-110422   1/21/2014    TB-21400  ...     25.248        3     4.1028

[1425 rows x 9 columns]

In [ ]:
# mengambil data dengan karakter tertentu (customer_id mengandung CG)
df_3=df_super_store[df_super_store.customer_id.str.contains('CG')]
df_3

            order_id  order_date customer_id  ...    sales quantity    profit
0     CA-2016-152156   11/8/2016    CG-12520  ...   261.96        2   419.136
1     CA-2016-152156   11/8/2016    CG-12520  ...   731.94        3   219.582
933   CA-2016-140081   6/20/2016    CG-12040  ...   45.056        8   152.064
934   CA-2016-140081   6/20/2016    CG-12040  ...   29.718        6  -217.932
935   CA-2016-140081   6/20/2016    CG-12040  ...   15.552        3    5.4432
936   CA-2016-140081   6/20/2016    CG-12040  ...  447.696        2   335.772
1476  US-2017-104955   3/19/2017    CG-12040  ...    28.91        7   132.986
2205  CA-2016-164350   9/10/2016    CG-12040  ...    67.56        3     8.445
5075  CA-2017-143217  11/11/2017    CG-12040  ...    18.24        3    8.5728
5488  CA-2017-164098   1/26/2017    CG-12520  ...    18.16        2     1.816
6283  CA-2016-121020  10/24/2016    CG-12040  ...  239.976        3   179.982
6873  US-2015-123918  10/15/2015    CG-12520  ...  131.376        6  -952.476
6874  US-2015-123918  10/15/2015    CG-12520  ...    5.344        1    1.8704
9558  CA-2015-161242    6/1/2015    CG-12040  ...    11.76        2    5.7624

[14 rows x 9 columns]

## Summarize DataFrame

Untuk melihat nilai-nilai statistik seperti mean, min, max dll dapat dilakukan untuk masing-masing kolom sebagai berikut:

In [ ]:
# Menghitung rata-rata variabel petal_length
df_super_store.quantity.mean()

3.789146976371646

In [ ]:
# Menghitung nilai minimum variabel petal_length
df_super_store.quantity.min()

1

In [ ]:
# Menghitung nilai maximum variabel petal_length
df_super_store.profit.max()

'999.408'

In [ ]:
# Menghitung nilai jumlahan variabel petal_length
df_super_store.profit.sum()

'419.136219.5826.8714-383.0312.5164141.6941.9656907.1525.782534.47853.092683.5685.44321.325.922-123.858-3.816133.1769.992.482416.0117.3845.0596156.884-10.1962.402.6494.222411.7741-16.650.522-70.53215.5251.10169.7092-5.7153.5469.94681.234.737-147.96335.415-469.764-15.147417.564165.5643.8949.5616197.7148.20628.47844.956.104179.634353.3462.9568170.9816.25662.986.85552.1415.5527.0986.98883.316.3620.846.15129.3612689.631223.328-152.2251.113.02462.988356.6361.7318.763-1.143.9121.213-18.196-19.344-58.2482.724-14.475562.0328.03524.1726.2031628.075-489.549332.1566.79662.9568138.5726.6338.27823.11046.2208165.354161.504-3.788405.426179.592225.852226.184-107.973-30.39611.7208-268.758-38.385-258.174176.0162.09941.073867.99210.909622.788133.476145.3481.6527.4925440.3161.653.813-1.157.156183.45613.878634.36851.759197.316-85.794-407.682-18.30830.499-91.602262.416-11.99429.3646.97329.6192166.5683.4561.9698266.616184.464206.97610.352.38145.104268.9762.182.518201.57912.90961.038.0155.9988585.552806.28517.766152.38826.271485.392210.2881.7901514.7646.87142.362.3252.6911.359613.3489.6882.7324-1.359.992-586.347-24.8586.8136-453.8498.99859.8418532.60821.259-131.126.552-243.16-113.372-37.7151.41041.8612766.3951.310.29641.9867.253.436822.9843.72246.255112.392200.928248.832469.7646.5676.71161.20381.587612.0276-22.5865.82036.795-161.8752.925-1.789.6689.6712444.7685.8744356.3467.4824162.0993.67966.58.88-244.323-146.958-950.44.4792260.568226.7821.81488.2302-138.432190.848-3.839.9042.7168968136.9392.198-282.744438.408-12.432-102.048-2.482.458-3.5520-77.2474.7529.396-356.728-46.75211.1944-120.513-28.3081.20385.805.39441.6823.944.960.72512.4416281.3723.57676.360.003225.624162.864-84.924-195.6244.044566.9166.92586.64656.132-4.466-509.997-2.519.958287.19635.1564.73043.024-74.41621.5912.104.936923.6922.32324.0954.05721.55484.07685.90725.97128.694-3.432376.1151.94247.84447.9610.8864-169.37224.316-2.043.1456.68366.2424543.966-487.032788.592201.558-245.646-62.889.298815.55210.8248273.16838.0246.5688-131.44512.8642.8536209.20883.8682.19493.5948525.1141.71362.0358376.42222.2985.44328.6744241.5681995.99800.226129.613.0713.5881.744349.9659.995-678.7623.389-2.585.01633.831-276.936-20.7-13.816-34.2721.60383.359.9444.492.7956-174.5882.33121.116-407.97610.07248.3916-2.224.79763.099611.54324.14722.308611.54321.0668230.86414.154.296-48.5883.79966.986415.82411.3251.684.3849.9369.936868.7041.4456207.3288.478410.441.472293.4122.714.1929.3964.6746-5.7121.791.888924-29.9430.98-2.976.848-203.3222.6811-188.72825.48173.3768.799-1.570.095-10.497-337.6387774.2647.884135.932277.1827.019.883-205.623255.7989.49246.220821.0363.5952-3.171.528-32.7847.1983.46849.7689.6957377.8954.349.913133.035-1.129.5274.646413.608274.302314.548-184.548657.342268.744258.98438.382.83222.70287.015565.662147.0568.502225.26411.0761.382.016300.9575.004-1.453.508766.395547.425-7.748207.147-36.892-18.585431.9911.136.39411.55362.30943.666233.928205.755420.256291.52810.5841.3677154.7529.7164712.4767.92482.85369.1312-758.304665.408249.132-24.294-961.1463.34836.3723.779.622186.0067.068-8.144.832-20.889-34.7585.8704-3.120.614-362.352-79.002266.3043.409210.478487.996249.80428.81945.5287.18219.2966.61584.511.90891.6688575.92814.8-30.245174.975341.9945.99410.39746.15728.9835.0922131.572-94.941516.558403.704818.432181.17622.869-15.08-119.61650.098-19.00811.88715.3737.3982.168411.6853.177.47540.41612.17287.1521.79011.70521.379.977138.9155.38256.3015.2877-259.136-21.16821.098-124.146271.66610.43442.7475.1408-72.672-1.499.05819.69211.922.397274.38611.3751.4672-681.8563.36412.93870.98206.316380.864-1.455.2467.2646.2995-842.92813.9326.412815.642-17.046-1.74406.03822.57073.109.8723.40489.936-217.04815.55216.614273.1821.33.774301.200646.797450.016273.6729.3312034.7766.421611.22664.19952.3814787.5289.76082.198.714-57.1481.5456529.1739.23863.5046-47.481304.7764.96861.445.157-201.3627.2576-128.9613.62881.1689.75220.7484.349.91355.745917.7281.0178-287.964-1.153.5440.7317.8475.1408-55.338-316.712478.152-26.2562.3814-101.178415.7735.69562.64-1.579.38315.992-27.968157.8723.081433.5710.9939272.862-14.773875.684178.901130.87469.27812.0904281.7645.14356.0858-517.19129.95300.7682.4585855.297432.234-138.46812.2328272.7925.01286.028885.90412.6543.3323.175256.5119.86253.01446.068226.78231.6178.318459.75410.3128.5164-26.544453.222-50.098-3.462124.929-135.765-1.181.295-42.22218.3985.26262.079287.064286.1828.7285-143.856-718.90511.361.7115165.88817.505407.499-7.3924.5201-41.262-3.202.3954.66442.598418.522-38.399.90414.6511.631.8986.87149.33124.7996145.614740.53210.315224.93616.032173.48817.76628.075317.5128.088-136.312-34.2724.1448356.796-138.7173.6288187.6952.2824527.824-110.4915.768266.3048.86241.097.226893.1421.139.8866.9723.0814244.758194.37621.99673.412.314.116800.19921.1125.12826.36845.5992840.512-1.533.45610.0891.024.9983.0249.7176863.856336.4749.4284186.9566.5528.49664.2717-647.748-5.487-10.9481.14661.67626.2064-28.3567.18648.99426.703567.86422.7921.41123.749.925287.712-1.673.1846.876847.924.266610.224279.9365.6994-269.9555.339225.47258.6962.7072343.54823.3161.797.4889.1451.7516.1753.469510.881145.2363.6855408.006281.71811.72081.926-22.449-2.7-156.1565.998877.4435.8914348.928691.0084.1634210.896799.056852.4754.581610.64289.8784637.3926.220810.348817.7457.3359188.972994.8966.22086.21524.3176247.99611.076509.8983.2256311.652620.3682.5786.21526.019.699248.8321.8704145.152-24.2880-227.964117.43271.9914.81184.068403.12816.810.79967.487290.588505.848518.346171.5742.64126.5164-1.114.995-793.3523.26161.5804163.2153.34089.302411.78.76723.29446.8714234.416777.4388.5568496.0481.3416186.624501.876146.7189.7176187.81226.5985.76723.57673.581.47210.626406.8785.9045.17861.3583212.9545.1792-35.928-760.98-46.79717.225.2256372.20467.25664.518131.956669.546-41.244231.093262.398.32685.931210.0485.93644.53181.6752184.534169.93214.995186.0062.0435.4128135.98420.714245.0285.085651.8225.408-65.2963.393-32.088202.4859.61922.59846.220812.11762.727919.791323.9468.293.754810.4749.102192.454560.547-185.562-56.996-145.656504.063-8126.8768349.07410.5552113.8482.945.4885.443253.5512.9369.51722.5536213.4085.02864.1148152.064-217.9325.4432335.772543.9666.2208349.6488.04642.2098417.85215.5521.405.48262.91-2.044.458-129.122755.424-619.5965.44327.927.64162.7168-11.59643.452.5893-3.1685.637653.196281.3723.057610.941.67044.81189.71196.220891.9684.23360285.984-31.05-136.31210.14933.2186255.798-792679.996-26.256166.698932.2328.056559.98475.492.58969.439244.868-18.90472.8075.21131.312.7855.4844.910469.70512.764.8711.730.3164.90829.89019.15812.912911.44527.621.845-2.908.7529.3312920.835403.5362.478-35.20820.5855.999273.09646.5754.06873.560.41436.85215.5526.7008638.8622.499156.4298.86863.168.8256.485.6242.17284.28045.4432205.764-98.72483.284574.113213.735521.2627.0565.1012-19.272-105.7988.66213.7342.69641.79551.464.03611.15190.2942.9835-146.16-18.186852.475-38.3851.252.692379.962-294.8122.436565.7764.352422.764277.9113.29447.2268229.4881.6008-292.5244.5216-22.1341.2792-277.1582.353-46.22512.178-3.488-184.6245.05969.94683.024-4.598-33.4881.99910.6288335.8888.48882.3229.36241.217.601-2.649.20812.13481.052.46824.009.6573.11047.19761.5121.999251.94433.642191.78614.1611.032.284304.682-286.27211.1962.04164.10319.66572.5056-47.145-49.87811.2308-163.644-7.566-17.24821.888138.26725.1863.6288-20.264163.352-126.882575.9043.024137.151111.5912.04927.48721.819.8186.658411.581.790110.96982.242.6742.641650.94756.624200.85128.7559.3312-23.3642.6467.4571129.38410.55048.9915.55668.6953.1962.87763.1104223.054167.886107.3462.6285.8696438209.9931.25281.638539.21704.937.856292.857100.122195.18490.7355.77156.4264.595440.8729.178521.06492.723339.38809.33128.299210.74245.5755-7.764162.8648.09975.433251.75449.92564.6743.571.9111.09047.33866934.23369.717612.4416533.466221.184667.152892.2241.097.20811.32885.44322.55322.1588-20.988647.892-41.136-18.509.464408.006-14.35210.67940-33.804169.9753.3633.20046.894310.4652.8836217.176-484.704-23.276-36.0241.576828.7641.702464.674-3.863.91644.955287.928204.82234.3866.048198.7443.658811.63167.48722.96821.76087.22835.98269.999137.862-29.94041.2625.43410.652210.79125.5124.4853.5752238.58195.5861.354.06811.998817.4691.395.702511.3681.3762.859.8965.904-8.3795.02211.5164-204.468-472.54276.704107.985-140.9286.333618.87310.8811.7739414.29418.2673.6665.616-12.792-1.268.592-67.2723.6288-88.7845.2026-71.9915.39712.8583301.96880.7364.914-13.36388.074-4.8511.0434.489211.16644.11487.49524.460415.5529.223252.5321.4784845.7284.51886.4752.2997.19961.661.004830.5024.33725.5177777.51952.493224.4486.42065.66289.7164-80.7841.7343561.752-133.176186.624625.05628.9653.372571.99-36.288-41.83235.69419.6563.515212.4902-30.5555.10725.556626.37616.302-6.4352.401-1.728-13.9352.77606.52868.04061.761.708360.192-27.828-12.528-211.59614.3466.003365.74223.595.707225.098172.224-701.0437.85206.9558.452811.2839-441.552-35.178364.044-14.41309.24427.4-567.556-25.592-63.996-359.928151.188-1.461.09662.737-786.7441.57954.90814.85.55361.186.575305.132.194.4164.264349.9657.9454.7792-902.4841.61961.709.3161897.1592527.956789.412283.0951.260.558602.5531.54441.609.1391.5522-430.617-426.5286.02565.664411.4923.11046.1041.183.413-581.332146.79-21.896-361.11621.897196.2489.995-2.044.4588.88725.344148.7521.087.996263.96712.8316118.29332.13-14.784312.736-48.392144.096-590.571-14.988230.965-863.6643.283207.089.31251.966.132-404.712748.5241.96291.637.87415.59410.88645.904428.805-350.4913.36517.98211.466.329617.4281.484.946-391.248-873.4185.998-17.51411.094-1.35347.80245.8416.8751459.241.95267.94123.495.17929.8856193.984-313.722439.956-292.7761.8032-30.344-107.97331.9962.269.644195.2386.22085.9924.0749-40.1285.01126.4206132.9865.86532.397612.4416198.2548.80621.702401.0730.091.3161.061.242377.87416.6141.76428.3322.88121.737.4083.663211.2143.185-2.0983.7726.5835.820369.705-472.5423.3523.08143.36-1.758.7085.5875190.0815.5253.1996111.82411.820612.504-33.139-114.648-9.098116.87227.2484.31347.73432.065489.5166.72361.96-586.8729.70923643.34885.2363.43123.2358.0582.72220167.9864.0743.034211.59716.5122.035.6441.163.9042.2881.7004290.136160.928196.686117.432-406.5042.36741.749.975-247.086548.60410.348857.3851.5312395.4283.5049.92447.09612.81519.0727.228-2.959.7854.115117.745396.879-2.685-136.152602.5533.7236-67.94110.48326.297923.84-9.153-21.8082.39522.4402495.552893.142-1.531.2242.9372456.588183.4562.9568274.38668.9765.195534.6922.95925.86042.9145226.7646.5856-359.058-20.568175.1365.285.0048.6744-13.99342.3921.668452.22612.9871.528821.2281.97110.2243.2676273.568201.58431.4942.900.058-136.4611.819.87212.51188.9223.077499.233.853.7527.819210.584.495556.9741.412.775155.252.464-34.38880.2993.74083.62881.577.2645.4432-167.27-876.6729.33124.43445.842173.7543.9453.493.39214.804.671100.656-3.094-7.128-100.92-91.788538.6086.4128458.136543.3321.42082.95689.59410.784910.048527.7355.214-158.102-9.2643.668-74.3948.688-23.74823.2351.5795-3.733.0485.2125193.31462.988963.438-104.196-102.11426.078.7906-145.7644.31768.4736-559.3569.10566.224412.41-0.99-57.6383.628823.316-2.274.91215.3875.0966.29053.5742198.2767.085452.49310.18410.34881.134.9364.2804321.844.68125.8045-71.148-9.288206.14216.7043.71-8.9996.567510.6365.1964-5.665.625-144.7842.795670.4410150.86412.325614.9211.9988511.936-718.116434.3524447.7728-69.89213.6018312.8323.7408-33.80417.3526.5341.3753.8228.48883.40146.6029.60487.25769.856-25.128-55.34.9432-82.3683.213.6288546-325.2263.68941.510.974538.6083.8521.307.581150.36-665.0887.61544.884-48.3929.7038-206.96410.5181.899846.1164.8118-58.604-394.565-13.952-201.663-24.49619.59.3871.293.7861.49521.5121.807.6596.615149.92520.843.0268590.1121.077.2169.816155.288252.213647.8561.959.944265.90524.476.738.81612.59286.041626.985165.9841.009.11311.56573.3213.6296175.3441.5048-42.987-10.493.406229.9542.575.944217.72876.2726.993-12.117178.152245.02128.131.5714-85.0683.46863.05584.5816-166.32-24.189-2.255.5681.8312-26.9821.8144-25.0563.1084.84161.268.973186.624-1.689.5583.743.792629.06425.875-2.639.96712.70086.2063.612.9945.921112.135210.224529.364394.268135.324-30.58811.7741192.384158.256271.7642.2459.7328124.6811.8849.105459.75438.1784.7916-15.99-53.072605.528251.225-289.764335.8884.9632-465.5684.368-926.95570.72210.8864-176.0763.110425.79250.098272.848205.8425.8812-22.098470.376-442.764226.782-481.19414.67639.34567.608786.8282.110.41482.3976-331.96137.016-122.8774.7521.25062.9347.74510.395152.4958.431.70610.8054-336.784-1.107.64519.1883.99061.814447.8486.7459.0912-21.648-216.14441.0768.532407.499924.39949.76165.9781.67044.85253.88443.378574.975302.373976.5241.5008107.9553.571241.82369.993199.665310.6883.11041.8604494.982237.993233.1847.3921.149.385598.1764.8609-13.312-12.558-61.15274.57417.762.401-5.184263.9123.62886.4683.462-933.2623.76428.9208574.1139.072213.7352.21438.08403.1287.7047.776146.15753.4336.7686.580811.703171.7747.254789.51620.155798.912102.1866.408766.395-86.7684.706-21.88511.0388362.687709.6445.9041.050.2284.29761.80481.343.888930.55210.507212.30961.919.9687.92122.151.19812.32348.4966-37.99626.647.348-21.195-766.012-37.1967.2420.186420.355219.945142.3249.594761.125-17.04611.5752161.602-366.7444.752291.4247.78359.9644.6344842.3526.01681.170.1046.36846.87148.6736196.686481.8697.668237.7442.442.49677.714397.48811.5584234.9766.923125.17630.525.14653.28728.1623.8822512.943139.3926.87144.3326-33.264-6.10420.724201.2647.77285.4432455.392280.59266.30436.225-20.016-4.752-73.1768343.48485.19363.9844.125.394305.96470.0065.216420.8785.3892304.27806.0312.1692-9.147478.6293.71769.986-977.394-1.294-46.1372.5592137.931666.35128.51819.95263.49445.528371.81211.19841.735216.8488.88561.7528.671538.988689.6311.46522.6496130.095-487.83981.5833.8641.4762.405.648257.4882.16842.355804.839-159.1029.3564-259.1361.065.21611.75.4432-14.0169.3906124.4851.268.02720.1968.019145.78212.6468200.392-13.978735.4482.376302.373-19.656-26.997411.332133.056353.2959.44371.07976.49447.25769.318411.9412601.3989.039-1.223.928-23.81415.82-11.439-58.49673.41504.7114.4564-3.471.1749.906-47.9765.4236-180.882-279.312-508.7044.33122.087-532.704435.9817.02185.133-101.73610.7409.71642.1988-149.73629.76910.0282150.98423.9973.1944-150.4141.1904-110.0051.752-8.997-269.955-87.2326.9132-13.8966.1792210.128288.576130.37532.936308.96622.2590.35211.599.855219.945280.192185.2747.2535.0425.4733.781.674170.268518.23822.86955.76412.2858.50254.1163.96095.44321.70049.1022.293.0182.1336748.0981.75918.445-463.9463.82727.59922.332.20421.024297.40811.2422504208.49460.499.50329.8563.61924.1944100.24-89.0894.672-242.352178.152-988.0184.70615.599-1.157.058252.588148.34431.587143.075359.964676.59911.45168.268812.432-52.17381.297133.476-1.154.958152.7121.44563.51782.2412494.9826.4128130.3754.1761.570.1769.331268.976142.75815.246131.355339.38890.9728.71382.4669.54624.936791.9341.149.9542.3763.88222.68926.35043.11042.35714.1965479.376957.5723.779.9463.5858137.6460223.548537.504-6.098-230.352379.962221.5366.6976163.8635.202612.2641.3114.756803.682777.519297.696.22081.3365382.0956.2192106.4771.28856.019.699125.996.365.644831.61.882.192499.704-141.3729.8658171.9335.0997.70046.6031.984-485.0826.87141.124.06420.2127.44130.4151.325.898563.528638.232445.278278.94438.15167.80829.9521.15966.22085.2026-68.3922.937220.85133.1522.832211.24765.10421.237.69112.4416225.0081.74210.46523.384273.528-293.4361.372.89624.528-21.62403.1584225.7325.3214222.51605.042.009.546463.185156.993809.919-4.475.947-5.536.476-1.227.816163.842759.696-10.054409.216448.89620.7-181.06811.3288-266.35230793.24-271.2968.2257.6986-144.7841.134-588.6161.14815.0651.713815.4911.6263457.7044.485662.748158.37659.9983.61568.86243.1104205.114971.946421.50410.31682.25623.9616.652.82244.336812.576214.67723.5513.348-2.250.9762.008.638-289.67426.9737.9861.304.913762.6241.9172.6325.8604314.53260.35660.39295.229.952179.733.178439.956-489.5493.2616417.186-104.184-104.67312.7764-21.504-136.488-90.944274.8563.034652.0644.077616.983.221.8291.146.285-992.66412.53282.173686.25-199.1841.723.38430.43212.9024748.1428.2156-14.0815.38989.828931.1223.0861182.59213.604279.3443.435722.45812.0978254.384134.865344.23229.3725.1184369.8731.5124.09951.657.17615.5524.56574.2816-676.7046.4864-299.178290.325412.2374.295.772-991.7641.47428.388-326.366011.4296250.30532.3961.4456222.3522.65689.61923.033.40810.764415.10412.281.787-34.39253.99732.392186.093584.9623.354412.69274.4312-35.712-16.383.4686150.416327.506342.848-852.384147.582527.93455.89641.535-33.4841.1996-20.56819.8242.040.71412.9939.8784144.3542.518.9116.22081.37555.9365.2564.4604-12.075-16.8842.88843.628852.5328.26164.56121.223.856-337.806180.648-545.958-1.007.944-36.253-2.191.644787.671223.776143.952139.1526.93722.0592-6.0492.5922.114.9551.056.4561.7642.136.88810.760412.4416705.54412-32.325.244140.6867.5661.3893.34083.62882.70369.131427.697.852.399.0581.338.624-356.1743.64320.91524.97931.5877.9527156.7515.33922.903.016307.81809.33128.3404.4712526.3442.1476671.1399.78121.0166215.397-77.748-300.73539.551.573.63281.4324.117.3651.587.519954.6127.3206353.62636.8137.02183.644.5955.1294207.808-8.5584.92710882-1.218.7351.99265.1012-39.6242.59823.0285.7152.716638.0251.08426.70410.44968.671512.4416647.89228.7555.2999.1296-9.359.595-7.487.0218171.8284.262424.8587.392-5.78461.3899.32964.2666166.764143.042.999674.4244.13916.2856236.529201.2076.22082.136.888283.09519.9983.50224.2717807.912775.7648.954465.4357.0565.104299.4324.949.72535.9824.20481.2948-142.071-20.108208.7199.56884.5882296.688798.9122.121.87612.838238.653798.9127.6654.3584-81.312-16.7767.056111.591420.7441.520.88349.4971.015.79429.985-24.564-6.5677.0651.64-4.4555.61158.143237.3664.038310.6232-16.4267.48161.0028.07665.917515.294569.77217.2384.33689.3312922.368818.4962.159.973-89.7969.1776222.44437.7975.56623.904151.1581.096.113335.772-143.8562.72225.09612.186.7915310.856-71.994-1.401.408-13.128944.9371.79013.439.82821.506199.7462.1762230.864944.925198.716569.943431.9049.54481.558817.52134.2921.004.79647.241219.978-1.300.104-13.584-60.32473.1941.100.528225.2962.224129.348685.9654.198.1855.860471.991315.3721.251.43223.2324.35636.917-75.768-238.8556.6963.8682312.676-80.48-6.2651.799114.175.7312242.2563.62881.54444.5738-137.9766.2167.42529.69.68748.142-15.992-155.84402.528-24.8031.4406-23.9767.528410.8813.1104940.702383.5726.5569-18.1474.1416187.81270.00878.3961.773173.7545.77811.556-20.3644716.220856.392280.784845.154760.878363.9872.299.9081.111.03551.5715.185273.5923.157.4042.3527.4694226.782558-2.97410.56-972.312-43.5841.1016379.1766.29129.364-94.333545.9164.17693.43682.83149.331239.52-27.828312.858284.98832.097-323.388-9.012-120.784142.632-1.143.891157.58412.647.559-56.994-129.568132.3526.89086.908810.47549.5081100.196225.2964.068982.7223.746.2861.405.9577.25768.4888226.233154.7529.2568-3.312-2.4361.06823.235-353.6461.7466243.3842.9547-57.588760.116245.9981.3514917.89212.728.0997-137.1752.22725.8914-34.6411.79016.220815.55210.732512.998.61125.664411.88290.13610.046420.853119.996-58.34659.9986.048849.4368.38112.1758-77.094806.3123.85214.1486.87242.24424.19619.45810.5143.376352.8725.652712.6923722.373.951212.32846.465-5.82303.048.9554.94977.91282.5056-13.065.5048.29922.23022.7310.8588137.193269.985161.505153.4261.165.97689.159194.376145.5844.274.368405.867762.5257.106164.64711.02522.73620.539138.3819.9652-56.784693503.98811.597131.941-19.2757.2268215.8249.3564192.4729.17646.0748.2087.584-197.7123.2016437.13610.8864-106.1766.3612-518.2725.184-313.7225.3784-26.9365.8708873.5047.25764.3296138.5283.80164.6746-1.708.0386.249.2928152.1187.7946.4968.98310.9368165.8884.210.82418.6846.2918.40246.474287.904-1.724.9253.8864-72.0488.9310.4362.24445.84253.37211.1384748.098274.365-9.223-3399.98-158.356-65.7367.2576-103.266-1.727.328-101.736-33.322.01641.823220.07728.65-144.588176.4188.07302.693680.78425.198310.9127.5371-12.1967.257610.203166.79615.76415.55210.7892-64.2333.3446.220810.8682256.784-2.557.4253.61412.1348134.92570.006129.62.9372660.736182.112134.6542.42888.749.8754.300815.1210.3904-33.506224.9559.744235.1167.347925.424492.576881.295217.7281.383.55282.9927.922.691149.29226.56528.615184.548385.722-14.229-140.19610.50726.2208151.116280.0321.349.9251.3257-4.170.93615.998-26.

Fungsi Deskripsi:
```python
 mean()    #Hitung rata-rata sequence 
 sum()     #Hitung jumlah nilai sequence 
 size()    #Hitung ukuran sequence 
 count()   #Hitung jumlah sequence 
 std()     #Standar deviasi sequence 
 var()     #Hitung varians sequence 
 sem ()    #Kesalahan standar rata-rata sequence  
 min ()    #Hitung minimum nilai grup 
 max ()    #Hitung maks nilai grup
 ```

# Aggregation & GroupBy

Groupby memiliki konsep untuk

1. **Split**: melakukan indexing/multi-indexing dengan apa yang di specify as groupby menjadi kelompok
2. **Apply**: menerapkan fungsi pada masing-masing kelompok tersebut
3. **Combine**: mengumpulkan semua hasil fungsi dari tiap kelompok kembali menjadi dataframe

![image.png]()

## Dataset

In [ ]:
df = df_super_store
df.head()

         order_id  order_date customer_id  ...      sales quantity    profit
0  CA-2016-152156   11/8/2016    CG-12520  ...     261.96        2   419.136
1  CA-2016-152156   11/8/2016    CG-12520  ...     731.94        3   219.582
2  CA-2016-138688   6/12/2016    DV-13045  ...      14.62        2    6.8714
3  US-2015-108966  10/11/2015    SO-20335  ...  9.575.775        5  -383.031
4  US-2015-108966  10/11/2015    SO-20335  ...     22.368        2    2.5164

[5 rows x 9 columns]

## GroupBy Satu Variabel dengan Satu Fungsi Aggregat

Kita dapat melakukan groupby terhadap satu buah variabel(contoh: category) dengan menggunakan sebuah fungsi aggregat(mean).

In [ ]:
#Groupby berdasarkan variabel 'category', fungsi aggregat `mean`
hasil_group_by=df.groupby('category').mean() 
hasil_group_by

                 quantity
category
Furniture        3.785007
Office Supplies  3.801195
Technology       3.754481

In [ ]:
#Groupby berdasarkan variabel 'category', fungsi aggregat `mean`
hasil_group_by=  df.groupby(['category','sales','profit']).mean() 
hasil_group_by

                                 quantity
category   sales     profit
Furniture  07.04     3.0976           4.0
           08.01     3.0438           3.0
           1.004.024 -1.129.527       7.0
           1.004.976 -1.758.708       6.0
           1.007.232 755.424          6.0
...                                   ...
Technology 99.99     419.958          1.0
                     439.956          1.0
           998.85    -199.77          5.0
           999.96    2.299.908        4.0
           999.98    449.991          2.0

[7662 rows x 1 columns]

## GroupBy Multivariabel dengan Satu Fungsi Aggregat

In [ ]:
sub_category=df.groupby(['category','sub_category'])[['sales','quantity','profit']].mean()
sub_category

                              quantity
category        sub_category
Furniture       Bookcases     3.807018
                Chairs        3.818476
                Furnishings   3.723093
                Tables        3.890282
Office Supplies Appliances    3.710300
                Art           3.768844
                Binders       3.922521
                Envelopes     3.566929
                Fasteners     4.211982
                Labels        3.846154
                Paper         3.779562
                Storage       3.732861
                Supplies      3.405263
Technology      Accessories   3.840000
                Copiers       3.406250
                Machines      3.796460
                Phones        3.699663

## GroupBy dengan Banyak Fungsi Aggregat

Untuk menampung banyak fungsi agregat, atau ketika kita menginginkan fungsi agregat yang berbeda-beda pada masing-masing variabel, kita dapat menuliskannya dalam sebuah dictionary sebagai berikut:

In [ ]:
import numpy as np

In [ ]:
sub_category=df.groupby(['category'])[['sales','quantity','profit']].agg
({   
    'sales':min,
    'quantity':max,
    'profit': np.mean
})
sub_category

## GroupBy dengan Fungsi Aggregat Custom

In [ ]:
def data_range(series):
  return series.max() - series.min()

sub_category=df.groupby(['sub_category','category'])[['sales','quantity','profit']].agg(data_range)
sub_category

                              quantity
sub_category category
Accessories  Technology             13
Appliances   Office Supplies        13
Art          Office Supplies        13
Binders      Office Supplies        13
Bookcases    Furniture              12
Chairs       Furniture              13
Copiers      Technology              8
Envelopes    Office Supplies         8
Fasteners    Office Supplies        13
Furnishings  Furniture              13
Labels       Office Supplies        13
Machines     Technology             10
Paper        Office Supplies        13
Phones       Technology             13
Storage      Office Supplies        13
Supplies     Office Supplies         9
Tables       Furniture              12

# Latihan 2

Diberikan dataset retail berikut: `Super-Store-Dataset.csv` :

1. Tentukan Segment mana dengan profit tertinggi!
2. Tentukan Category mana dengan sales terbanyak!
3. Tentukan Sub-Category dengan quantity paling sedikit!
4. Lakukanlah 3 contoh filter munggunakan 2 kriteria!
5. Lakukanlah 3 contoh filter menggunakan attributes str.contains!

In [ ]:
# Segment dengan profit tertinggi
df_a = df_super_store.profit.max()
df_b = df_super_store[df_super_store['profit']== df_a]
df_c = df_b.iloc[:,3:9]
print(df_a)
df_c

999.408

       segment         category sub_category   sales  quantity   profit
4727  Consumer  Office Supplies        Paper  212.64         6  999.408
7095  Consumer  Office Supplies        Paper  212.64         6  999.408

In [ ]:
# Category dengan sales terbanyak 
df_a = df_super_store.sales.max()
df_b = df_super_store[df_super_store['sales']== df_a]
df_c = df_b.iloc[:,4:7]
print(df_a)
df_c

999.98

        category sub_category   sales
4070  Technology      Copiers  999.98
8172  Technology      Copiers  999.98

In [ ]:
# Sub-Category dengan quantity paling sedikit
df_a = df_super_store.quantity.min()
df_b = df_super_store[df_super_store['quantity']== df_a]
df_c = df_b.iloc[:,5:8]
print(df_a)
df_c

1

     sub_category   sales  quantity
52         Chairs   89.99         1
61            Art    1.68         1
70        Binders   4.616         1
74        Storage  72.784         1
79     Appliances  208.16         1
...           ...     ...       ...
9958  Furnishings    13.4         1
9959        Paper    4.98         1
9974       Tables   85.98         1
9980  Accessories   36.24         1
9981  Accessories   79.99         1

[899 rows x 3 columns]

In [ ]:
# 3 contoh filter munggunakan 2 kriteria
df_x = df_super_store[(df_super_store['order_date']=="6/9/2014") & (df_super_store['segment']== "consumer")]
df_x
df_y = df_super_store[(df_super_store['category']=="Furniture") & (df_super_store['sub_category']=="binders")]
df_y
df_z = df_super_store[(df_super_store['category']=="Office Supplies") & (df_super_store['quantity']>=4)]
df_z

            order_id  order_date customer_id  ...   sales quantity    profit
6     CA-2014-115812    6/9/2014    BH-11710  ...    7.28        4    1.9656
9     CA-2014-115812    6/9/2014    BH-11710  ...   114.9        5     34.47
14    US-2015-118983  11/22/2015    HP-14815  ...   68.81        5  -123.858
16    CA-2014-105893  11/11/2014    PK-19075  ...  665.88        6   133.176
20    CA-2014-143336   8/27/2014    ZD-21925  ...   22.72        4     7.384
...              ...         ...         ...  ...     ...      ...       ...
9975  CA-2017-163566    8/3/2017    TB-21055  ...   16.52        5     5.369
9976  US-2016-157728   9/22/2016    RC-19960  ...   35.56        7   167.132
9978  CA-2015-100251   5/17/2015    DV-13465  ...    31.5       10     15.12
9979  CA-2015-100251   5/17/2015    DV-13465  ...    55.6        4    16.124
9986  CA-2017-121258   2/26/2017    DB-13060  ...    29.6        4     13.32

[2614 rows x 9 columns]

In [ ]:
# 3 contoh filter menggunakan attributes str.contains
df_a=df_super_store[df_super_store.order_id.str.contains('2017')]
df_a

            order_id  order_date customer_id  ...    sales quantity   profit
12    CA-2017-114412   4/15/2017    AA-10480  ...   15.552        3   5.4432
23    US-2017-156909   7/16/2017    SF-20065  ...   71.372        2  -10.196
34    CA-2017-107727  10/19/2017    MA-17560  ...   29.472        3   9.9468
41    CA-2017-120999   9/10/2017    LC-16930  ...  147.168        4  165.564
43    CA-2017-139619   9/19/2017    ES-14080  ...   95.616        2   9.5616
...              ...         ...         ...  ...      ...      ...      ...
9982  CA-2017-163629  11/17/2017    RA-19885  ...    206.1        5   55.647
9984  CA-2017-121258   2/26/2017    DB-13060  ...    91.96        2  156.332
9985  CA-2017-121258   2/26/2017    DB-13060  ...  258.576        2  193.932
9986  CA-2017-121258   2/26/2017    DB-13060  ...     29.6        4    13.32
9987  CA-2017-119914    5/4/2017    CC-12220  ...   243.16        2   72.948

[3320 rows x 9 columns]

In [ ]:
df_b=df_super_store[df_super_store.order_date.str.contains('2016')]
df_b

            order_id order_date customer_id  ...    sales quantity     profit
0     CA-2016-152156  11/8/2016    CG-12520  ...   261.96        2    419.136
1     CA-2016-152156  11/8/2016    CG-12520  ...   731.94        3    219.582
2     CA-2016-138688  6/12/2016    DV-13045  ...    14.62        2     6.8714
13    CA-2016-161389  12/5/2016    IM-15070  ...  407.976        3  1.325.922
21    CA-2016-137330  12/9/2016    KB-16585  ...    19.46        7     5.0596
...              ...        ...         ...  ...      ...      ...        ...
9972  US-2016-103674  12/6/2016    AP-10720  ...   13.376        4     4.6816
9973  US-2016-103674  12/6/2016    AP-10720  ...  437.472       14  1.531.152
9976  US-2016-157728  9/22/2016    RC-19960  ...    35.56        7    167.132
9977  US-2016-157728  9/22/2016    RC-19960  ...    97.98        2    274.344
9980  CA-2016-125794  9/29/2016    ML-17410  ...    36.24        1    152.208

[2585 rows x 9 columns]

In [ ]:
df_c=df_super_store[df_super_store.customer_id.str.contains('TB')]
df_c

            order_id order_date customer_id  ...    sales quantity       profit
27    US-2015-150630  9/17/2015    TB-21520  ...  3083.43        7  -16.650.522
28    US-2015-150630  9/17/2015    TB-21520  ...    9.618        2      -70.532
29    US-2015-150630  9/17/2015    TB-21520  ...    124.2        3       15.525
30    US-2015-150630  9/17/2015    TB-21520  ...    3.264        2       1.1016
31    US-2015-150630  9/17/2015    TB-21520  ...   86.304        6       9.7092
...              ...        ...         ...  ...      ...      ...          ...
9718  CA-2015-117898  12/5/2015    TB-21250  ...   12.224        2       4.4312
9803  US-2014-139640  11/7/2014    TB-21595  ...    25.92        5        9.072
9804  US-2014-139640  11/7/2014    TB-21595  ...  120.768        4       9.0576
9975  CA-2017-163566   8/3/2017    TB-21055  ...    16.52        5        5.369
9983  CA-2014-110422  1/21/2014    TB-21400  ...   25.248        3       4.1028

[135 rows x 9 columns]